
body {
    margin: 0;
    height: 100vh;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190617/ourmid/pngtree-cinema-advertising-background-on-light-cyan-background-image_128208.jpg');
    background-size: cover; /* Chiếm toàn bộ không gian */
    background-position: center; /* Căn giữa hình nền */
    background-repeat: no-repeat; /* Không lặp lại hình nền */
    background-attachment: fixed; /* Hình nền cố định khi cuộn */
}
.logo img{
    width: 100px;
    height: 100px;
    margin-left: -560px;
    margin-bottom: -10px;
    margin-top: -300px;
}

#alertError {
    position:relative;
    top:5px;
}

